/* Fundo bege */
.bg-bege {
    background-color: #f5efe6;
    min-height: 100vh;
  }
  
  /* Foto redonda e pequena */
  .foto-perfil {
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 50%;
    border: 4px solid #e6d2cf;
  }
  
  /* Links da navbar */
  .nav-link {
    color: #444;
    font-weight: 500;
    margin-left: 15px;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .balao {
    width: 140px;
    height: 140px;
    background-color: #e6dccf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .balao:hover {
    transform: translateY(-10px) scale(1.05);
    background-color: #d8cfc2;
    color: #000;
  }
  
  .social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: #000;
    transform: scale(1.2);
  }
  